.begin{
    /* color: orange; */
    margin-left: 100px;
    
}
#topbtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3), 0px 5px 25px rgba(65, 84, 241, 0.3), 0px 5px 25px rgba(65, 84, 241, 0.3);
    color: azure;
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 2px 5px 5px black; */
    transition: 0.4s;
}
.lifeline{
    width: 70%;
    margin: 1%;
    box-shadow: 0px 0px 5px grey, 0px 0px 5px grey, 0px 0px 5px grey;
    /* height: 10%; */
}
.div, .funbegins{
    padding:15px 40px;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: 10vh;
    margin-left: 25%;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3), 0px 5px 25px rgba(65, 84, 241, 0.3), 0px 5px 25px rgba(65, 84, 241, 0.3);
    border-radius: 4px;
    transition: 0.5s;
}
.div:hover{
    transform: translateY(15px);
    cursor: pointer;
}
.navbar{
    box-shadow: 0px 0px 0px grey, 0px 0px 10px grey, 0px 0px 10px grey;
}
.funbegins:hover{
    /* background-color: #fff; */
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
    /* color: #4154f1; */
    /* box-shadow: 0px 0px 10px #4154f1, 0px 0px 20px #4154f1, 0px 0px 30px #4154f1; */
    cursor: pointer;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.topleft{
    /* position: absolute; */
  margin-top: -50px;
  background:#fff;
  opacity: 0.8;
}
img{
    border-radius: 4px;
    /* box-shadow: 0px 0px 10px #4154f1, 0px 0px 10px #4154f1, 0px 0px 10px #4154f1; */
}
.calincalout{
    margin-left: 15%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px lightgrey, 0px 0px 5px lightgrey, 0px 0px 5px lightgrey;
    transition: 0.4s;
}
.calincalout:hover{
    cursor: pointer;
    filter: grayscale(100%);
    transform: scale(1.01);
}
.adult{
    background-color: rgb(229, 237, 240);
    transition: 0.4s;
}
.fat{
    background-color: rgb(229, 237, 240);
    transition: 0.4s;
}
.adult:hover, .fat:hover{
    background-color: #4154f1;
    box-shadow: 0px 0px 10px #4154f1, 0px 0px 10px #4154f1, 0px 0px 40px #4154f1;
    color: white;
}
.btndiet{
    margin-left: 25%;
    height: 10vh;
    font-size: xx-large;
    width: 50%;
    background-color: greenyellow;
    border: none;
    border-radius: 4px;
    color: darkgreen;
    transition: 0.4s;
}
.btndiet:hover{
    box-shadow: 0px 0px 10px greenyellow, 0px 0px 20px greenyellow, 0px 0px 40px greenyellow;
}
.healthybody{
    height: 20%;
    width: 20%;
    margin: 2%;
    border:2px solid greenyellow;
    transition: 0.4s;
    border-radius: 10px;
}
.healthybody:hover{
    box-shadow: 0px 0px 10px greenyellow, 0px 0px 30px greenyellow, 0px 0px 40px greenyellow;
    cursor:auto;
    transform: scale(1.1);
}
.foot{
    padding: 10%;
}
.collapsebtn{
    margin-top: 3%;
    background: none;
    border: none;
    padding: 20px;
    background-color: #4154f1;
    color:rgb(229, 237, 240);
    width: 20%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #4154f1, 0px 0px 5px #4154f1, 0px 0px 25px #4154f1;
    transition: 0.4s;
}
.collapsebtn:hover{
    /* width: 25%; */
    transform: scale(1.1);
}
.collapse{

    transition: 0.4s;
}
.collapse:hover{
    background:#4154f1;
    color:#fff;
}